<div class="pacients">
    <div class="search">
        <input type="text" class="search__input" name="search-text" placeholder="Введите ФИО пациента ..."  #searchInput>
    </div>
    <div>
        <p class="tab-header">Список пациентов</p>
        <ul class="doctors-list">
            <li class="doctors-list__item" *ngFor="let user of pacients" [ngClass]="{'hidden-element' : user.isHide}" routerLink="/pacient/{{user.id}}">
                <img class="doctors-list__image" src="assets/img/doctor.jpg">
                <div class="doctors-list__info">
                    <p class="doctors-list__fio">{{user.username}}</p>
                    <p class="doctors-list__position">Возраст: {{user.age}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>