<nav class="navigate">
    <ul class="navigate__list">
        <li class="navigate__item" routerLink="terminal">терминал</li>
        <li class="navigate__item" routerLink="doctors-list">доктора</li>
        <li class="navigate__item" routerLink="pacients">пациенты</li>
        <li class="navigate__item" routerLink="add-pacient">+ пациент</li>
        <li class="navigate__item" routerLink="add-doctor">+ доктор</li>
        <li class="navigate__item" routerLink="settings">настройки</li>
    </ul>
</nav>