.navigate {
    border-bottom: 1px solid #dedede;
    display: flex;
}
.navigate__list {
    display: flex;
    flex-wrap: wrap;
}
.navigate__item {
    border-right: 1px solid #dedede;
    padding: 10px;
    cursor: pointer;
}