.add-form {
    font-weight: 300;
    margin: 5%;
    display: flex;
    flex-direction: column;
}
.input__name {
    font-size: 15px;
    padding: 2px 0;
}
.input__text, .input__date, .input__select {
    border: 1px solid #c8d8f9;
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}
.sub-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.sub-form__header {
    font-size: 19px;
    font-weight: 300;
    margin: 30px auto;
    padding-bottom: 1px;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
}
.form__header {
    font-size: 19px;
    font-weight: 300;
    width: 94%;
    margin: 30px auto 0;
    padding-bottom: 1px;
    border-bottom: 1px solid #bbbbbb;
}
.input__add {
    margin-top: 40px;
    border: 0;
    padding: 5px 0 7px;
    background: #4c6dcc;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 70px;
}
.not-found__photo {
    border: 1px solid red;
    width: 200px;
    color: red;
    font-size: 14px;
    text-align: -webkit-center;
    padding: 90px 0;
}