<script src="../../../../medhost-server/DB/user.js"></script><p class="form__header">Добавить пациента</p>
<div class="add-form">

    <p class="input__name">Фио</p>
    <input typeof="text" class="input__text" #fio>

    <p class="input__name">Пол</p>
    <select class="input__select">
        <option>мужской</option>
        <option>женский</option>
    </select>

    <p class="input__name">Рабочее место</p>
    <input typeof="text" class="input__text">

    <p class="input__name">Должность</p>
    <input typeof="text" class="input__text">

    <p class="input__name">Дата рождения</p>
    <input type="date" class="input__date">

    <div class="sub-form">
        <p class="sub-form__header">Личные характеристики</p>
        <p class="input__name">Рост</p>
        <input class="input__text" type="text">

        <p class="input__name">Вес</p>
        <input class="input__text" type="password">

        <p class="input__name">Группа крови</p>
        <input class="input__text" type="text">
    </div>

    <div class="sub-form">
        <p class="sub-form__header">Контактная информация</p>
        <p class="input__name">Телефон</p>
        <input class="input__text" type="text">

        <p class="input__name">Почта</p>
        <input class="input__text" type="text">
    </div>

    <div class="sub-form">
        <p class="sub-form__header">Адрес проживания</p>
        <p class="input__name">Область</p>
        <input class="input__text" type="text">

        <p class="input__name">Город</p>
        <input class="input__text" type="text">

        <p class="input__name">Улица</p>
        <input class="input__text" type="text">

        <p class="input__name">Дом</p>
        <input class="input__text" type="text">
    </div>

    <div class="sub-form">
        <p class="input__name">Фотография</p>
        <div class="not-found__photo">
            Устройство не подключено
        </div>
    </div>

    <button class="input__add" (click)="addPacient(fio.value, 22)">добавить</button>
</div>