.terminal {
    display: flex;
    flex-direction: column;
}
.system__news {
    width: 90%;
    margin: auto;
}
.system__item {
    font-size: 15px;
    margin-bottom: 18px;
}
.system__title {
    padding: 4px 5px;
    background: lightblue;
    color: white;
}
.system__message {
    font-weight: 100;
    padding: 5px 7px;
    color: #4e4e4e;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
}
.header__photo {
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
}
.header {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #6a99d2;
    justify-content: space-between;
}
.header__info {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.header__fio {
    padding-left: 10px;
}
.header__logout {
    margin-right: 8px;
    height: 30px;
    width: 80px;
}