<div class="terminal">
    <div class="header">
        <div class="header__info">
            <img class="header__photo" src="assets/img/doctor.jpg">
            <p class="header__fio">Сучко Юрий Иванович</p>
        </div>
        <button class="header__logout" (click)="logout()">выйти</button>
    </div>

    <p class="tab-header">Системные новости</p>
    <div class="system__news">
        <ul class="system__list">
            <li class="system__item">
                <p class="system__title">Внеплановый тест</p>
                <p class="system__message">Внеплановый тест системы с 12:00 по 12:20</p>
            </li>
            <li class="system__item">
                <p class="system__title">Сокращенный рабочий день</p>
                <p class="system__message">Сегодня будет сокращенный рабочий день</p>
            </li>
        </ul>
    </div>
</div>