#terminal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
}
#content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}