.width-95 {
    width: 95% !important;
}
.width-100 {
    width: 100% !important;
}
.visits__list {
    margin:0 3%;
    padding: 0 2%;
}
.visits__time {
    font-size: 13px;
    display: inline-block;
    color: white;
    background: yellowgreen;
    padding: 3px 7px;
}
.visits-day__item {
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
}
.visits-day__item:hover {
    background: #ebf1ff;
}
.visits__title {
    display: inline-block;
    font-size: 15px;
}
.busy {
    cursor: not-allowed;
    opacity: 0.5;
    background: #faffd5;
}