<div class="doctor-visits">
    <p class="tab-header width-95">График посещения на 5 дней, для доктора [{{doctor.username}}]</p>

    <ul class="visits__list">
        <li class="visits__item" *ngFor="let visits of visitsGrid; let day = index">
            <div [ngClass]="checkIfExpires(day)">
                <p class="tab-header width-100">на {{day}}.06.2017</p>

                <ul class="visits-day__list">
                    <li class="visits-day__item" [ngClass]="{'busy' : visite.user_id !== undefined}" *ngFor="let visite of visits" (click)="addVisite(day, visite.time)">
                        <div class="visits__time">{{visite.time}}</div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>