.doctors-list {
    margin: 0 5%;
}
.doctors-list__item {
    display: flex;
    border-left: 3px solid #6a99d2;
    margin-bottom: 10px;
    cursor: pointer;
}
.doctors-list__item:hover{
    background: rgba(106, 153, 210, 0.12);
}
.doctors-list__image {
    width: 50px;
    height: 50px;
}
.doctors-list__info {
    font-weight: 300;
    margin-left: 10px;
}
.doctors-list__fio {
    font-size: 16px;
}
.doctors-list__position {
    font-size: 13px;
    margin-top: 3px;
}