<div class="doctors">
    <p class="tab-header">Список докторов</p>
    <ul class="doctors-list">
        <li class="doctors-list__item" *ngFor="let doctor of doctors" (click)="addVisite(doctor.id)">
            <img class="doctors-list__image" src="assets/img/doctor.jpg">
            <div class="doctors-list__info">
                <p class="doctors-list__fio">{{doctor.username}}</p>
                <p class="doctors-list__position">{{doctor.position}}</p>
            </div>
        </li>
    </ul>
</div>