<div class="pacient">
    <p class="tab-header">Запланированые посещения <span class="visite__add" routerLink="/doctors-list" [queryParams]="{pin: user.id}">добавить</span></p>
    <div class="planed-visites">
        <ul class="visite__list">
            <li *ngFor="let visite of planedVisites | sortVisites" class="visite__item" (click)="removeVisite(visite)">
                <div class="visits__time">{{visite.time}}</div>
                <div class="visits__title"> {{visite.day}}.06.17 - {{visite.doctor.username}}<span class="visite__remove">удалить</span> </div>
            </li>
        </ul>
    </div>
</div>