.visits__time {
    font-size: 13px;
    display: inline-block;
    color: white;
    background: yellowgreen;
    padding: 3px 7px;
}
.visits__title {
    display: inline-block;
    font-size: 15px;
    padding: 3px 4px;
    flex-grow: 1;
}
.visite__item {
    margin-bottom: 7px;
    display: flex;
}
.visite__list {
    width: 90%;
    margin: auto;
}
.planed-visites {
    display: flex;
}
.visite__add {
    font-size: 13px;
    background: #6a99d2;
    color: white;
    float: right;
    font-weight: 600;
    padding: 2px 8px;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.visite__remove {
    float: right;
    font-size: 13px;
    color: red;
    cursor: pointer;
}
