* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', serif;
}

body {
    overflow: hidden;
}

html, body, app-root {
    display: flex;
    width: 100%;
    height: 100%;
}
router-outlet {
    height: 1px;
}
router-outlet + * {
    width: 100%;
    height: 100%;
}