.access__form {
    background: #d4d4d4;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 40px 15px;
}
.access__title {
    font-size: 17px;
}
.access__icon {
    font-size: 110px;
    text-align: center;
    padding: 15px 0;
    color: #b7b7b7;
}
.access__input {
    font-size: 16px;
    padding: 2px 5px;
}
.access {
    height: 100%;
    display: flex;
}