.tab-header {
    font-size: 19px;
    font-weight: 300;
    margin: 30px auto;
    padding-bottom: 1px;
    width: 90%;
    border-bottom: 1px solid #bbbbbb;

}
.hidden-element {
    display: none !important;
}