.settings {
    display: flex;
    flex-direction: column;
}
.need-help {
    width: 90%;
    margin: auto;
}
.need-help__area {
    height: 140px;
    width: 98%;
    padding: 1%;
}
.need-help__button {
    float: right;
    padding: 1px 20px;
}
.setting__list {
    width: 90%;
    margin: auto;
}
.setting__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
}
.setting__title {
    font-weight: 100;
    font-size: 15px;
}
.setting__value {
    font-size: 15px;
    color: white;
    padding: 0 10px;
    background: red;
    text-align: center;
    width: 100px;
}
.error {
    background: red;
}
.info {
    background: lightblue;
}
.ok {
    background: lightgreen;
}
.non-access *{
    opacity: 0.45;
    cursor: not-allowed;
}